# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3



aqi_luftdaten/__pycache__
pm_lookup/__pycache__
pm_lookup/migrations/__pycache__
pm_lookup/processing/__pycache__
pm_lookup/management/commands/__pycache__


