.prima{background-color: #50f085;}

.seconda{background-color: #80ca3a;}

.terza{background-color: #f0e641;}

.quarta{background-color: #fa5050;}

.quinta{background-color: #960032;}

.sesta{background-color: #50003c;}

.nessuna{background-color: #a3a3a3;}

