{% extends 'partials/base.html' %} 

{% block content %}

{% load static %}

<!-- Loading the js and the css ath the beginning of the html will guarantee no delay in aplying styles and actions or animations -->

<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}



    <h1>Titolo</h1>
    
    <br>



{% endblock %}
