{% load static %}

<script type="text/javascript" src={% static "js/graph_loading_helpers.js" %}></script>

<link rel="stylesheet" type="text/css" href={% static "css/graphs_page_spinner.css" %}>



<div id="loader-graphs-page">

    <div class="loading-message-graphs-page">
        <br><br><br><br><br><br>
        <p>Caricamento in corso...</p>
        <br>
    </div>

    <div class="spinner-graphs-page">
        <div class="spinner-s-ball pm10"><span>PM₁₀</span></div>
        <div class="spinner-s-ball pm25"><span>PM₂.₅</span></div>
    </div>

</div>