{% extends 'base.html' %} 

{% block content %}

{% load static %}

    <h1>About</h1>
    
    <br>

    <p>questo progetto è per ottenere la qualità dell'aria in tempo reale tramite API</p>

    PM 10

    0-20	20-35	35-50	50-100	> 100

    PM 2.5

    0-10	10-20	20-25	25-50	> 50

    https://www.arpalombardia.it/Pages/Aria/Qualita-aria.aspx


<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}