{% extends 'partials/base.html' %} 

{% block content %}

{% load static %}

<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}


    <h1>Catalogo delle aree di interesse</h1>
    
    <br>

    <p>Di seguito è mostrato l'elenco delle aree di interesse per cui sono disponibili i dati di qualità dell'aria.<br>
        Il relativo ID può essere inserito negli URL delle <a href="{% url 'catalogo_api' %}#elementi_al_dettaglio">API riferite ad una singola area di interesse</a> per ottenere i dati corrispondenti.</p>

    <br>

    <table>
        
        <tr>
            <th>ID &nbsp</th>
            <th>area di interesse &nbsp</th>              
        </tr>

        {% for area in aree_di_interesse %}

            <tr>               
                <td>{{area.id}} &nbsp</td>
                <td>{{area.name}} &nbsp</td>
            </tr>

        {% endfor %}

    </table>


{% endblock %}
