{% extends 'partials/base.html' %} 

{% block content %}

{% load static %}

<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}
<link rel="stylesheet" type="text/css" href={% static "css/API_catalog.css" %}>


<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}


    <h1>Catalogo API</h1>
    
    <br>

    <p>
        L'applicazione dispone di servizi API in formato REST che permettono ad altre applicazioni o script di accedere ai valori di particolato registrati dalle centraline Luftdaten. 
        Il servizio permette l'accesso ai valori di particolato, sia realtime sia storici, per una area di interesse desiderata, grazie ad un paradigma di URL illustrato di seguito. 
        Eventuali errori nell'utilizzo delle API vengono segnalati attraverso codici di risposta HTTP. 
        Per tutte le richieste e le risposte dall'API viene utilizzato il formato JSON.
    </p>
    
    <p>
        Di seguito è mostrato il paradigma delle API e delle relative informazioni associate.
    </p>

    <br>

    <h2 id="liste_di_elementi">Liste di elementi</h2>

    <br>

    <p>Queste API mostrano la lista dei dati relativi a tutte le aree di interesse contenute nel database.</p>

    <br>


    <h5>Lista di tutte le aree di interesse e dei relativi parametri di definizione</h5>

    <div class="container">
    <code><a target="_blank" href="{% url 'area_parameters_set_list' %}">{{ request.get_host }}{% url 'area_parameters_set_list' %}</a></code>
    </div>

    <br><br>


    <h5>Lista di tutti i set di parametri che definiscono le serie storiche</h5>

    <div class="container">
    <code><a target="_blank" href="{% url 'serie_parameters_set_list' %}">{{ request.get_host }}{% url 'serie_parameters_set_list' %}</a></code>
    </div>

    <br><br>


    {% comment %} <h5>Lista dei valori real-time degli inquinanti per tutte le aree di interesse</h5>

    <div class="container">
    <code><a target="_blank" href="{% url 'realtime_datapoints' %}">{{ request.get_host }}{% url 'realtime_datapoints' %}</a></code>
    </div>

    <br><br> {% endcomment %}


    <hr>
    
    <h2 id="elementi_al_dettaglio">Elementi al dettaglio</h2>

    <br>

    <p>
        Queste API mostrano l'insieme dei dati associati a una specifica area di interesse o a una specifica serie storica definita da un set di parametri. 
        <br>Ogni area di interesse è identificata da un corrispondente ID.
        <br>Ogni set di parametri che definisce una serie storica è identificata da un corrispondente ID.
    </p>
    <p>
        È possibile reperire i dati associati ad una specifica area di interesse o ad uno specifico set di parametri inserendo il suo ID nell'endpoint dell'API, avendo cura di inserirlo nella posizione corretta. 
        <p>Il <b>catalogo delle aree di interesse con relativo ID</b> è consultabile a <a target="_blank" href="{% url 'catalogo_aree_interesse' %}">questo link</a>.</p>
        <p>Il <b>catalogo dei set di parametri che definiscono le serie storiche con relativo ID</b> è consultabile a <a target="_blank" href="{% url 'catalogo_set_parametri_definizione_serie_storiche' %}">questo link</a>.</p>
    </p>
    <br>

    
    <h5>Set di parametri di definizione di una specifica area di interesse</h5>

    
    <div class="container">
    <code><a target="_blank" href="{% url 'area_parameters_set_detail' pk=1 %}">{{ request.get_host }}{% url 'area_parameters_set_detail' pk=1 %}</a></code>
    </div>

    <br><br>


    <h5>Set di parametri di definizione di una specifica serie storica</h5>

    
    <div class="container">
    <code><a target="_blank" href="{% url 'serie_parameters_set_detail' pk=1 %}">{{ request.get_host }}{% url 'serie_parameters_set_detail' pk=1 %}</a></code>
    </div>

    <br><br>


    <h5>Valori real-time degli inquinanti di una specifica area di interesse</h5>

    
    <div class="container">
    <code><a target="_blank" href="{% url 'realtime_datapoint_detail' pk=1 %}">{{ request.get_host }}{% url 'realtime_datapoint_detail' pk=1 %}</a></code>
    </div>

    <br><br>

    
    <!-- qua non è previsto l'elemento al dettaglio del db di tutti i dati storici di tutte le aree di interesse 
        perchè non avrebbe senso -->


    <h5>Serie storica degli inquinanti di una specifica area di interesse</h5>

    
    <div class="container">
    <code><a target="_blank" href="{% url 'computed_serie_detail' pk=1 %}">{{ request.get_host }}{% url 'computed_serie_detail' pk=1 %}</a></code>
    </div>

    <br><br>

    <hr>
    
    <h2 id="subset_di_elementi">Subset di elementi</h2>

    <br>

    {% comment %} <p>
        Queste API mostrano l'insieme dei dati associati a dei subset degli elementi del database selezionati dall'utente medianti dei criteri di selezione. 
        <br>
        <br>
    </p> {% endcomment %}

    <h5>Subset di dati degli inquinanti di una specifica area di interesse</h5>

    
    <div class="container">
    <code><a target="_blank" href="{% url 'historical_datapoints_subset' %}?area_parameters_set=1&amp;start_date=2025-01-01T00:00:00Z&amp;end_date=2025-05-01T00:00:00Z">{{ request.get_host }}{% url 'historical_datapoints_subset' %}?area_parameters_set=1&amp;start_date=2025-01-01T00:00:00Z&amp;end_date=2025-05-01T00:00:00Z</a></code>
    </div>


    <br><br>


{% endblock %}
