{% extends 'base.html' %} 

{% block content %}

{% load static %}

    <h1>Catalogo API</h1>
    
    <br>

    <h4>Liste:</h4>

    <p><a href="{% url 'cities_list' %}">Lista delle località</a></p>

    <p><a href="{% url 'realtime_data' %}">Lista dei valori real-time del particolato</a></p>

    <p><a href="{% url 'historical_data' %}">Lista dei valori storici del particolato</a></p>

    <br>

    <h4>Elementi al dettaglio:</h4>

    <p><a href="{% url 'city_detail' pk=1 %}">Specifiche di una località</a></p>

    <p><a href="{% url 'realtime_data_detail' pk=1 %}">Valori real-time del particolato di una località</a></p>

    <p><a href="{% url 'historical_data_detail' pk=1 %}">Valori storici del particolato di una località</a></p>



<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}
