{% extends 'base.html' %} 

{% block content %}

{% load static %}

    <h1>AQI Luftdaten app</h1>
    
    <br>

    <p>Questa applicazione è progettata per ottenere i valori del particolato atmosferico di un'area selezionata in tempo reale tramite API.</p>

    <p>
        <a href="https://luftdaten.info/it/benvenuto/">Luftdaten</a> è un progetto che permette ai cittadini di <a href="https://www.produzionidalbasso.com/project/1-000-centraline-dal-basso-in-italia/">acquistare</a> o assemblare in maniera autonoma delle centraline di rilevamento del particolato.<br> 
        Queste trasmettono i dati in tempo reale ad un server centrale, 
        che raffigura i valori di qualità dell'aria su una <a href="https://sensor.community/en/">mappa</a> e li rende liberamente disponibili ad altre applicazioni tramite <a href="https://github.com/opendata-stuttgart/meta/wiki/EN-APIs">API</a>.
    </p>

    <p>
        La presente applicazione attinge ai dati resi disponibili dal server di Luftdaten, 
        esegue una media aritmetica tra tutti i valori del particolato registrati dalle centraline entro una certa area,
        e li mostra all'utente, specificando la categoria della qualità dell'aria in cui ricadono i valori monitorati.
    </p>



<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}