{% extends 'base.html' %} 

{% block content %}

{% load static %}

    <h1>Valori del Particolato</h1>
    
    <br>

    <p>Di seguito sono mostrati i valori medi real-time del PM10 e PM2.5 in diverse città.</p>

    <br>

    <h3>Milano</h3>

    <p>
        
        I valori si riferiscono ad una media aritmetica eseguita sui valori registrate dalle centraline 
        nel raggio di {{radius}} km dal Duomo di Milano 
        (
            <!-- <a target="_blank"  href="https://www.google.it/maps/@{{center_lat}},{{center_long}}"> -->
                {{center_lat}}, {{center_long}}
            <!-- </a> -->
        ).
    
    </p>



    <p>
        PM10 medio: 

        {% if PM10_mean %}
        
        <span title={{PM10_quality}}>
        <a class="{{PM10_cathegory}}">
        {{PM10_mean}} µg/m³  
        </a>
        </span>

        <!-- &nbsp &nbsp -->
        
        


        {% else %}

        <span title={{PM10_quality}}>
        <a class="{{PM10_cathegory}}">
            Dato non disponibile
        </a>
        </span>

        

        {% endif %}

    </p> 
        



    <p>
        PM2.5 medio: 

        {% if PM25_mean %}

            <span title={{PM25_quality}}>
            <a class="{{PM25_cathegory}}">
            {{PM25_mean}} µg/m³
            </a>
            </span>

            <!-- &nbsp &nbsp -->



        {% else %}

        <span title={{PM25_quality}}>
        <a class="{{PM25_cathegory}}">       
            Dato non disponibile
        </a>
        </span>

        {% endif %}

    </p>

    <p>Ultimo aggiornamento: {{ record_time }}</p>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/AQ_cathegories.css" %}>

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}