{% extends 'base.html' %} 

{% block content %}

{% load static %}

    <h1>Serie storiche dei valori del particolato</h1>
    
    <br>

    {% if graph %}
        <div style="width:600;height:500">
        {{ graph|safe }}
        </div>
    {% endif %}
    



<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}
